.categorias-container {
  display: flex;
  background-color: #f9fafa;
  align-items: center;
  gap: 0 10px;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.container-geral {
  width: 100vw;
  height: 100vh;
}
.cat-item {
  font-size: 0.82rem;
  color: #616161;
}
.categoria-img {
  display: flex;
  align-items: center;
  color: #818a91;
  font-size: 0.69rem;
}
.categorias-container img {
  width: 18px;
  font-weight: bold;
}
.cat-link {
  box-sizing: border-box;
  align-items: center;
  padding: 6px 4px;
}
.cat-link:hover {
  background-color: #818a91;
  color: var(--cor-0);
}

.cat-link:hover .cat-item {
  color: var(--cor-0);
}

.menu-container {
  position: relative;
}

.menu-container:hover .container-interno {
  display: block;
}
.container-interno {
  display: none;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  width: 99vw;
  background-color: var(--cor-0);
  padding-bottom: 20px;
}

.conteudo-link {
  display: flex;
  gap: 0px 360px;
  width: 100%;
  border-top: 1px solid #818a913b;
}

.cat-link2 {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 3px;
  margin-bottom: 4px;
}
.cat-link2:hover .cat-item2 {
  color: var(--cor-0);
}
.cat-link2:hover {
  background-color: #818a91;
  color: var(--cor-0);
}

.cat-item2 {
  color: #818a91;
  font-size: 0.81rem;
}

.h1 {
  margin-bottom: 10px;
  border-top: 3px solid #818a91;
  color: #616161;
}

@media (max-width: 1700px) {
  .none24 {
    display: none;
  }
}
@media (max-width: 1600px) {
  .none23 {
    display: none;
  }
}
@media (max-width: 1500px) {
  .none22 {
    display: none;
  }
}
@media (max-width: 1500px) {
  .none21 {
    display: none;
  }
}
@media (max-width: 1500px) {
  .none20 {
    display: none;
  }
}
@media (max-width: 1500px) {
  .none19 {
    display: none;
  }
}
