.container.impressora {
  width: 100%;
}

.img-impressora img {
  margin: 0 auto;
}
.img-impressora {
  background: linear-gradient(to right, #50486c 50%, #e3ded1 50%);
  margin: 0 auto;
  width: 97%;
  border-radius: 4px;
}
