.produtos {
  display: flex;
  flex-direction: column;
  color: black;
  width: 275px;
  height: 460px;
  padding: 20px 10px;
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
}

.produtos-efeito {
  background-color: white;
  transition: all 0.2s linear;
}
.produtos:hover .produtos-efeito {
  transform: translateY(-15px);
}

.produtos-promo {
  display: flex;
  width: 97%;
  margin: 0 auto;
  justify-content: space-between;
}


.conteudo-central {
  text-align: justify;
  align-items: center;
}

.produtos-compras {
  display: none;
}
.produtos:hover {
  border: 1px solid #00000018;
}

.produtos:hover .produtos-compras {
  display: block;
}
.produtos-compras {
  width: 100%;
  padding: 8px 0;
  border-radius: 4px;
  outline: 0;
  border: none;
  background-color: #396ba7;
  color: var(--cor-0);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.botao-produtos {
  background-color: #000000;
  border: none;
  color: var(--cor-0);
  font-size: 0.69rem;
  font-weight: 900;
  padding: 2px;
  border-radius: 4px;
  margin-bottom: 12px;
  cursor: pointer;
  margin-top: 20px;
}
.botao-color {
  color: #ffc103;
}
.produto-info a {
  display: inline-block;
  font-size: 0.875rem;
  color: #373a3c;
  list-style: 0;
  margin-bottom: 20px;
}
.preco-antigo a {
  font-size: 0.69rem;
  text-decoration: line-through;
  color: #373a3c;
}
.preco-atual {
  font-size: 1.38rem;
  font-weight: bold;
  color: #396ba7;
}
.pr-atual {
  font-size: 1.1rem;
  font-weight: 500;
}
.produto-prazo {
  font-size: 0.75rem;
  font-weight: bolder;
}
.produto-total {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.frete {
  text-transform: uppercase;
  padding: 6px 4px;
}
.red {
  background-color: #cc2c47;
  margin-bottom: 20px;
}

.roxo {
  background-color: #3d128a;
}

.black {
  text-transform: uppercase;
}
.img2 {
  color: var(--cor-0);
}

.bt4 {
  opacity: 0;
}

.produtos-container h1 {
  padding: 16px 0 0 16px;
  font-size: 1.38rem;
  font-weight: 900;
}

.web {
  margin-top: 18px;
}

@media (max-width: 1400px) {
  .webcan {
    display: none;
  }
}
@media (max-width: 1200px) {
  .hdext {
    display: none;
  }
}
@media (max-width: 1000px) {
  .teclado {
    display: none;
  }
}
@media (max-width: 800px) {
  .nobreak {
    display: none;
  }
}
